## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
/ios/robovm-build/

## GWT
/html/war/
/html/gwt-unitCache/
.apt_generated/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
/android/libs/armeabi/
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/android/bin/
/core/bin/
/desktop/bin/
/html/bin/
/ios/bin/
/ios-moe/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/
/ios-moe/nbproject/private/

/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/
/ios-moe/nbbuild/

/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/
/ios-moe/dist/

/nbdist/
/android/nbdist/
/core/nbdist/
/desktop/nbdist/
/html/nbdist/
/ios/nbdist/
/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting
/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

## OS Specific
.DS_Store
Thumbs.db

## iOS
/ios/xcode/*.xcodeproj/*
!/ios/xcode/*.xcodeproj/xcshareddata
!/ios/xcode/*.xcodeproj/project.pbxproj
/ios/xcode/native/

/ios-moe/xcode/*.xcodeproj/*
!/ios-moe/xcode/*.xcodeproj/xcshareddata
!/ios-moe/xcode/*.xcodeproj/project.pbxproj
/ios-moe/xcode/native/
ios/data/Media.xcassets/AppIcon.appiconset/iphone-spotlight-icon-40@3x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-spotlight-icon-40@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-notification-icon-20@3x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-notification-icon-20@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-app-icon-60@3x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-app-icon-60@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-spotlight-icon-40@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-spotlight-icon-40@1x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-settings-icon-29@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-settings-icon-29@1x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-pro-app-icon-83.5@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-app-icon-76@1x.png
ios/data/Media.xcassets/AppIcon.appiconset/app-store-icon-1024@1x.png
ios/data/Media.xcassets/AppIcon.appiconset/Contents.json
ios/data/Default-568h@2x.png
ios/data/Default-414w-736h@3x.png
ios/data/Default-375w-667h@2x.png
ios/data/Default-1024w-1366h@2x~ipad.png
ios/build.gradle
ios/Info.plist.xml
ios/robovm.xml
ios/robovm.properties
ios/data/Media.xcassets/Contents.json
ios/data/Media.xcassets/AppIcon.appiconset/iphone-spotlight-settings-icon-29@3x.png
ios/data/Media.xcassets/AppIcon.appiconset/iphone-spotlight-settings-icon-29@2x.png
ios/data/Default~ipad.png
ios/data/Default@2x~ipad.png
ios/data/Default@2x.png
ios/data/Default.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-notifications-icon-20@2x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-notifications-icon-20@1x.png
ios/data/Media.xcassets/AppIcon.appiconset/ipad-app-icon-76@2x.png
android/res/drawable-xxxhdpi/ic_launcher.png
android/res/drawable-xxhdpi/ic_launcher.png
android/res/drawable-xhdpi/ic_launcher.png
android/res/drawable-mdpi/ic_launcher.png
android/res/drawable-hdpi/ic_launcher.png
gradlew
gradlew.bat
android/proguard-rules.pro
android/ic_launcher-web.png
android/assets/music.mp3
